node_modules/
coverage/
extension/out/
**/*.min.js
**/dist/
extension/.vscode-test/
extension/coverage/
extension/node_modules/
extension/media/
.vscode-test/
**/.vscode-test/
data/
backend/data/
artifacts/
**/*.svg
**/*.ico
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.webp
